.product-card {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-basis: 400px;
  max-width: 400px;
  flex-direction: column;
  background-color: #dcdcdc;

  padding: 5px;
  margin: 10px;
  border: 2px solid #000000;
}
